[access]
	inheritFrom = All-Projects
[project]
	description = A Test Repository to showcase git-gerrit integration
[access "refs/*"]
	owner = group user/sunnaj
[access "refs/for/refs/*"]
	read = group user/sunnaj
	push = group user/sunnaj
	label-Code-Review = -2..+2 group user/sunnaj
	label-Verified = -1..+1 group user/sunnaj
	rebase = group user/sunnaj
	removeReviewer = group user/sunnaj
	submit = group user/sunnaj
[access "refs/heads/*"]
	read = group user/sunnaj
	create = group user/sunnaj
	push = +force group user/sunnaj
	pushMerge = group user/sunnaj
[access "refs/tags/*"]
	push = group user/sunnaj
	push = +force group user/sunnaj
